  <!-- Footer -->

  <footer [class]="sectionType" id="footer">
    <div class="container">
      <div class="row">
        <div class="footer-box">      
          <img  class="fb-xmas"  src ="../../assets/images/facebook-christmas.jpg" width=100>
          <div class="fb-like" data-href="https://www.facebook.com/lightmarebeforechristmas" 
                               data-width="" data-layout="standard" data-action="like" 
                               data-size="large" data-share="false">
          </div>                  
          <br>
          <p class="copyright body-text-whit-bg">© Copyright 2020 Larry & Brian Sweet</p>
        </div>
        
   </div>
   </div>
  </footer>
