<nav class="navbar navbar-default">
    <div class="navbar-header lightmare-title">
      <a href="#" class="navbar-brand"><span class="before">The </span><span class="scary">Lightmare</span><span class="before"> Before </span><span class="merry">Christmas</span></a>
    </div>

    <div class="collapse navbar-collapse lightmare-nav">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="#" >About Us</a></li>
        <li routerLinkActive="active"><a routerLink="#">Directions</a></li>
      </ul>
    </div>

</nav>

