<section [class]="sectionType" id="title">
  <div class="container-fluid">
    <!-- Title -->

    <div class="row">
      <div class="col-lg-6 title-text">
        <p class="big-header">The Lightmare Before Christmas</p>
        <p class="second-header">Come hear our lights dance</p>
        <p class="body-text">
          We are a holiday light show in Germantown Wisconsin. We host displays
          for both Halloween and Christmas. Come on over, tune your car radio to
          101.5, sit back and enjoy the show. More details below.
        </p>
      </div>

      <div class="col-lg-6 title-card">
        <img
          class="title-image"
          src="../../assets/images/big.jpg"
          alt="Lightmare Card"
        />
      </div>
    </div>
  </div>
</section>
