<section class="colored-section" id="title">

  <div class="container-fluid">


    <!-- Title -->

    <div class="row">

      <div class="col-lg-6">
        <h1 class="big-heading">The Lightmare Before Christmas.</h1>
      </div>


      <div class="col-lg-6">
        <h1 class="big-heading">Come hear our lights dance.</h1>
      </div>

      <div class="col-lg-6">
        <img class="title-image" src="images/iphone6.png" alt="iphone-mockup">
      </div>

    </div>

  </div>

</section>

