<section [class]="sectionType" id="viewing-info">
  <div class="container-fluid">
    <!-- Title -->

    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-1">Viewing Info</h1>
        <div class="body-text-whit-bg">
          <p>
            In general, the closer we get to Halloween, the more crowded it gets.  
            I strongly encourage you to NOT try to see the show on Halloween.
            In general the show is less crowded earlier in the month, less crowded on weekdays,
            and less crowded later in the evening. 
          </p>
          <p>
            To watch the show either pull up in your vehicle and tune your car
            radio to 101.5FM. It is courteous to turn your headlights off – to
            not bother others who are watching but keep your parking lights on –
            so that your car is visible.
          </p>
          <p>
            If you prefer, you can park nearby and walk over. The music is
            playing over speakers as well. Remember this is a public roadway, so
            stay to the side of the road to allow traffic to get by.
          </p>
          <p>
            We do mix up the songs from night to night. On different nights, you
            may see different songs. During show hours the show runs on a
            continuous loop repeating every 15 to 20 minutes.
          </p>
          <p>
            Please practice social distancing while viewing the show. Either
            view it from your vehicle – or keep a safe distance between you and
            other groups who may be watching.
          </p>
          <p>
            Please do not enter our yard. There are lots of wires, ropes and
            cables that are easy to trip on.
          </p>
          <p>We are in a residential neighborhood:</p>
          <ul>
            <li>please respect our neighbors</li>
            <li>Please do not block their driveways</li>
            <li>Please no loud music</li>
            <li>Please stay off their lawns</li>
          </ul>
          <p>
            Enjoy the show and be courteous to our neighbors and the other
            guests who are watching the show.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
