
<section class="colored-section" id="location">
  <div class="row">
  <div class="container-fluid">
  <div class="mapouter col-lg-6" >
    <div class="map-responsive">
      <iframe id="gmap_canvas" style="border: 30px solid #3CCB34;"
        src="https://maps.google.com/maps?q=N102W17515%20Lone%20Oaks%20Dr%2C%20Germantown%2C%20WI%2053022&t=&z=13&ie=UTF8&iwloc=&output=embed">
      </iframe>
      <a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a>
    </div>
  </div>
  <div class="col-lg-6" >
    <p>Located in beautiful Germantown!</p>
  </div>
  </div>
  </div>

</section>
