
<section [class]="sectionType" id="location">
  <div class="row">
  <div class="container-fluid">
  <div class="mapouter col-lg-6" >
    <div class="map-responsive">
      <iframe id="gmap_canvas" style="border: 30px solid #3CCB34;"
        src="https://maps.google.com/maps?q=N102W17515%20Lone%20Oaks%20Dr%2C%20Germantown%2C%20WI%2053022&t=&z=13&ie=UTF8&iwloc=&output=embed">
      </iframe>
      <a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a>
    </div>
  </div>
  <div class="col-lg-6" >
    <p class="body-text">Located in Germantown. One mile north of County Line Road, just west of Division Road in the Lone Oaks subdivision</p>
    <p class="body-text">Address:  N102W17515 Lone Oaks Drive<br>Germantown, WI 53022</p>
  </div>
  </div>
  </div>

</section>
