<section [class]="sectionType" id="location">
  <div class="row">
    <div class="container-fluid loc-title">
      <h1 class="display-1">Location</h1>
    </div>
    <div class="container-fluid loc-body">
      <div class="col-lg-6 body-text-whit-bg">
        <p>
          Located in Germantown. One mile north of County Line Road, just west
          of Division Road in the Lone Oaks subdivision
        </p>
        <p>Address: N102W17515 Lone Oaks Drive<br />Germantown, WI 53022</p>
      </div>
    </div>
  </div>
</section>
