<section [class]="sectionType" id="holidays">

  
  <div class="container-fluid">
    <div class="row">
      <div class="holiday-box col-lg-6">
        <img class="holiday" src="../../assets/images/Halloween Gnome.jpg" alt="Halloween Gnome">
        <h3 class="holiday-title">Halloween.</h3>
        <p class="body-text-whit-bg">Our not very scary Halloween show runs from early October through Halloween night.
          Enjoy a playlist that with songs for all ages including everything from a Purple People Eater to The Phantom of the Opera</p>>
      </div>
      <div class="holiday-box col-lg-6">
        <img class="holiday" src="../../assets/images/Christmas Gnome.jpg" alt="Christmas Gnome">
        <h3 class="holiday-title">Christmas</h3>
        <p class="body-text-whit-bg">Our very merry Christmas Show runs from shortly after Thanksgiving through New Years Eve.  Songs include traditional holiday classics
          as well as contemporary favorites.
        </p>
      </div>
      
  </div>
</div>
