<section [class]="sectionType" id="holidays">
  <div class="container-fluid">
    <div class="row">
      <div class="holiday-box col-lg-6">
        <img
          class="holiday"
          src="../../assets/images/Halloween Gnome.jpg"
          alt="Halloween Gnome"
        />
        <h3 class="holiday-title">Halloween.</h3>
        <p class="body-text-whit-bg">
          Our not very scary Halloween show runs from early October through
          Halloween night. Enjoy a playlist that with songs for all ages
          including everything from Purple People Eater to The Phantom of the
          Opera with Ghostbusters and Monster Mash thrown in for good measure.
          Our playlist changes from night to night throughout the Halloween
          season.
        </p>
      </div>
      <div class="holiday-box col-lg-6">
        <img
          class="holiday"
          src="../../assets/images/Christmas Gnome.jpg"
          alt="Christmas Gnome"
        />
        <h3 class="holiday-title">Christmas</h3>
        <p class="body-text-whit-bg">
          Our very merry Christmas Show runs from shortly after Thanksgiving
          through New Years Eve. Songs include traditional holiday classics as
          well as contemporary favorites. Just like with Halloween, our playlist
          changes nightly throughout the holiday season.
        </p>
      </div>
    </div>
  </div>
</section>
