<section class="white-section" id="features">

  <div class="container-fluid">

    <div class="row">
      <div class="feature-box col-lg-6">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Halloween.</h3>
        <p>Spooky Scary Halloween.</p>
      </div>

      <div class="feature-box col-lg-6">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3 class="feature-title">Christmas</h3>
        <p>Holly Jolly Christmas.</p>
      </div>


  </div>
