/* Global styles
------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Luckiest Guy";
}

p {
  color: #8f8f8f;
}

.big-header {
  font-family: "Luckiest Guy";
  color: white;
  font-size: 50px;
  text-align: center;
}

.second-header {
  font-family: "Luckiest Guy";
  color: white;
  font-size: 25px;
  text-align: center;
}

.body-text {
  font-family: "Faustina";
  color: white;
  font-size: 20px;
}

.body-text-whit-bg {
  font-family: "Faustina";
  color: green;
  font-size: 20px;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
  display: flex;
}

/* Sections */

.colored-bg {
  background-color: #3ccb34;
  color: #fff;
}

.white-bg {
  background-color: #fff;
}
